<div class="h-full">
  <div class="container  h-full  flex-row" >
    <div class="flex flex-col  items-center justify-between xl:pt-4 xl:pb-24">
      <div class="flex w-full justify-center p-3">
        <app-add-city (cityAdded)="addCity($event)"></app-add-city>
      </div>
      <div class="container  px-0">
        <div class="relative overflow-hidden">
          <div #cardContainer class="flex flex-row w-full justify-start space-x-4 py-8 overflow-x-auto scrollbar-hide" (wheel)="handleScroll($event)">
            @for (city of cities; track city) {
              <div class="flex-shrink-0" >
                <app-city-card [city]="city" (cityRemoved)="removeCity($event)" (citySelected)="handleCitySelection($event)"></app-city-card>
              </div>
            }
          </div>
          <!-- Navigation arrows for desktop -->
          @if (showLeftArrow) {
          <button (click)="scrollLeft()" class="z-20 absolute left-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full shadow-md block ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
          </button>}
          @if (showRightArrow) {
          <button (click)="scrollRight()" class="z-20 absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full shadow-md block ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </button>}
        </div>
      </div>
    </div>
  </div>
  @if(showModal)
  {
    <app-forecastmodal  [forecastData]="selectedCityForecast" (close)="closeModal()"></app-forecastmodal>

  }

</div>