<div className="h-full bg-">
    <div className="container mx-auto h-full" id="home">
      <div className="flex flex-col xl:flex-row items-center justify-between xl:pt-8 xl:pb-24">
        <div class="flex w-full justify-center p-5">

          <app-add-city (cityAdded)="addCity($event)"></app-add-city>
          <div class="city-cards">
            @for (city of cities; track city) {
              <app-city-card [city]="city" (cityRemoved)="removeCity($event)"></app-city-card>

            }
          </div>
        </div>
      </div>
    </div>
</div>
